# Byte-compiled files
*.pyc
__pycache__/

# Virtual environment
venv/
env/
app/

# VS Code settings
.vscode/

# DB or local config
*.sqlite3
.env

**/media/profile_pics/*
**/media/**/resumes/*
**/ideas/*