{% extends "form_base.html" %}

{% block title %}
    {% if title %}
        {{title}}
    {% else %}
        Register User
    {% endif %}
{% endblock title %}

{% block form_title %}
    {% if title %}
        {{ title }}
    {% else %}
        Register User
    {% endif %}
{% endblock form_title %}

{% block form_fields %}
    {% csrf_token %}
    <table>
        {% for field in form %}
            <tr>
            <td style="text-align: left; padding: 5px;">{{ field.label_tag }}</td>
            <td style="text-align: left; padding: 5px;">{{ field }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock form_fields %}
