/* Tabs container */
.tabs {
  display: flex;
  justify-content: left;         /* Center the tabs in the container */
  gap: 20px;                       /* Space between each tab */
  background-color: cadetblue;
  padding: 10px 0;
  border-radius: 0 0 10px 10px;
}

.tab-group {
  display: flex;
  gap: 20px;
  margin-right: auto;  /* Pushes logout tab to the right */
}

.logout-tab {
  margin-left: auto;
  background-color: cadetblue;
  border-radius: 5px;
}

.logout-tab:hover {
  background-color: #538d8f;
}

/* Individual tab */
.tab {
  padding: 15px 100px;
  text-align: center;
  color: white;
  cursor: pointer;
  border-right: 0px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.3s;
  white-space: nowrap; 
}

.tab:last-child {
border-right: none;
}

.tab:hover {
background-color: #538d8f;
}

.tab.active {
background-color: #3e7476;
}

.main-content {
padding: 20px;
}

.content-section {
display: none;
}

.content-section.active {
display: block;
}