{% extends "users/after_login_base.html" %}
{% load static %}
{% load phone_number_extras %}

{% block main_content %}

<form method="post" id="linksForm" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-lg border border-3 rounded-5 p-4 mx-auto bg-light mt-4 mb-4" style="min-height: 60vh;">
        <div class="container-lg border border-3 rounded-5 p-4 mx-auto bg-white m-4">
            <div class="row mb-3">
                <div class="col col-8">
                    <h2 class="border-bottom pb-3 mb-3 display-2">
                        Account Information
                    </h2>
                    <div class="row mb-1 ms-3">
                        <div class="col col-6">
                            <label class="form-label h6 text-secondary mb-1" for="id_first_name">First Name</label>
                            <input type="text" id="id_first_name" name="first_name" class="form-control w-75" value="{{ user.first_name }}">
                        </div>
                        <div class="col col-6">
                            <label class="form-label h6 text-secondary mb-1" for="id_last_name">Last Name</label>
                            <input type="text" id="id_last_name" name="last_name" class="form-control w-75" value="{{ user.last_name }}">
                        </div>
                    </div>
                    <div class="row mb-1 ms-3 border-bottom pb-3">
                        <div class="col col-6">
                            <label class="form-label h6 text-secondary mb-1" for="id_email">Email</label>
                            <input class="form-control w-75" type="text" placeholder="{{ user.email }}" disabled>
                        </div>
                        <div class="col col-6">
                            <label class="form-label h6 text-secondary mb-1">Username</label>
                            <input class="form-control w-75" type="text" placeholder="{{ user.username }}" disabled>
                        </div>
                    </div>
                    <div class="row mb-1 ms-3">
                        <div class="col col-6">
                            <label class="form-label h6 text-secondary mb-1" for="id_country">Country</label>
                            <input type="text" id="id_country" name="country" class="form-control w-75" value="{{ second_form.country.value }}">
                        </div>
                        <div class="col col-6">
                            <label class="form-label h6 text-secondary mb-1" for="id_city">City</label>
                            <input type="text" id="id_city" name="city" class="form-control w-75" value="{{ second_form.city.value }}">
                        </div>
                    </div>
                    <div class="row mb-1 ms-3">
                        <div class="col col-6">
                            <label class="form-label h6 text-secondary mb-1" for="id_phone">Phone Number</label>
                            <input type="text" id="id_phone" name="phone_number" class="form-control w-75" value="{{ second_form.phone_number.value }}">
                        </div>
                        <div class="col col-6">
                            <label class="form-label h6 text-secondary mb-1">Date Joined</label>
                            <input class="form-control w-75" type="datetime" placeholder="{{ user.date_joined }}" disabled>
                        </div>
                    </div>
                </div>
                <div class="col col-4">
                    <h2 class="display-2">Photo</h2>
                    <div class="d-flex flex-column justify-content-center align-items-center h-100">
                        <img id="profilePreview" src="{% if second_form.instance.profile_picture %}{{ second_form.instance.profile_picture.url }}{% else %}{% static 'images/random_person.png' %}{% endif %}" 
                            data-default-src="{% static 'images/random_person.png' %}" 
                            class="img-fluid mb-3" alt="Profile Picture">
                        <div class="d-flex gap-2">
                            <!-- Select new photo -->
                            <input type="file" id="id_profile_picture" name="profile_picture" accept="image/*" style="display: none;">
                            <button type="button" class="btn btn-outline-primary" id="selectPhotoBtn" for="id_profile_picture">
                                Select New Photo
                            </button>

                            <!-- Remove current photo -->
                            <button type="button" class="btn btn-outline-danger" id="removePhotoBtn">Remove Photo</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="d-flex align-items-center justify-content-between mb-2 toggle-details" 
            data-bs-toggle="collapse" href="#collapseExample" role="button" 
            aria-expanded="false" aria-controls="collapseExample" id="toggleDetails">
            <span>
                <i id="arrowIcon" class="bi bi-caret-right"></i>
                Social Links
            </span>
            <hr class="flex-grow-1 ms-2 my-0">
        </div>
    
        <div class="collapse" id="collapseExample">
            <div class="container-lg border rounded-5 p-4 bg-white mb-2">

                <div class="col col-12 list-group">
                    <div class="h2 border-bottom pb-3 display-2">Social Links</div>
                    {{ formset.management_form }}
                    {% if formset.forms|length == 0 %}
                        <p>No items available.</p>
                    {% else %}
                    <table class="table table-sm table-hover mb-3">
                        <colgroup>
                            <col style="width: 20%;">
                            <col style="width: 35%;">
                            <col style="width: 35%;">
                            <col style="width: 10%;">
                        </colgroup>
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">URL</th>
                                <th scope="col">Description</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody id="formsetTable">
                            {% for form in formset %}
                                <tr>
                                    {{ form.id }}
                                    <td>
                                        <input type="text" class="form-control form-control-sm text-truncate" name="{{ form.name.html_name }}" value="{{ form.name.value }}">
                                    </td>
                                    <td>
                                        <input type="url" class="form-control form-control-sm text-truncate" name="{{ form.url.html_name }}" value="{{ form.url.value }}">

                                    </td>
                                    <td>
                                        <input type="text" class="form-control form-control-sm description-field" name="{{ form.description.html_name }}" value="{{ form.description.value }}">
                                    </td>
                                    <td class="text-center">
                                        {% if formset.can_delete %}
                                            <input type="checkbox" class="form-check-input" name="{{ form.prefix }}-DELETE" id="id_{{ form.prefix }}-DELETE">
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    <div class="d-flex gap-2 justify-content-center">
                        <button type="button" class="btn btn-sm btn-outline-secondary" id="addRow">➕ Add Row</button>
                        <button type="button" class="btn btn-sm btn-outline-danger remove-row" id="removeLastRow">Remove</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="d-flex gap-2 justify-content-center">
            <button type="submit" class="btn btn-lg btn-primary">Save</button>
        </div>
    </div>

    <!-- Hidden template for new rows -->
    <template id="emptyFormTemplate">
        <tr class="form-row">
            <td>
                <input type="text" class="form-control form-control-sm text-truncate" 
                    name="form-__prefix__-name" value="">
            </td>
            <td>
                <input type="url" class="form-control form-control-sm text-truncate" 
                    name="form-__prefix__-url" value="">
            </td>
            <td>
                <input type="text" class="form-control form-control-sm description-field" 
                    name="form-__prefix__-description" value="">
            </td>
            <td></td>
        </tr>
    </template>

</form>

<script src="{% static 'users/js/user_update.js' %}"></script>
<script src="{% static 'js/collapse_container.js' %}"></script>

{% endblock main_content %}