{% extends "base.html" %}

{% block content %}
<div class="center-wrapper">
    <div class="form-container">
        <h2>{% block form_title %}Form{% endblock form_title %}</h2>
        <form method="post">
            {% csrf_token %}
            {% block form_fields %}{% endblock form_fields %}
            
            <div class="form-buttons">
                <button type="submit" class="btn-submit">
                    {% block form_button_text %}Submit{% endblock form_button_text %}
                </button>
                <a href="{% url 'home' %}" class="btn-back">
                    Go back
                </a>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
