{% extends "users/after_login_base.html" %}
{% load static %}

{% block specific_css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'jobs/css/styles.css' %}">
{% endblock specific_css_block %}

{% block main_content %}
<div class="container-lg border border-3 rounded-5 p-4 mx-auto bg-light mt-4" style="min-height: 80vh;">
    <table class="table table-striped custom-table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">
                <a href="?sort=job_name&order={% if sort_by == 'job_name' and order == 'asc' %}desc{% else %}asc{% endif %}" class="text-dark text-decoration-none">
                Job Name
                {% if sort_by == "job_name" %}
                    {% if order == "asc" %}▲{% else %}▼{% endif %}
                {% else %}
                    ▲▼
                {% endif %}
                </a>
            </th>
            <th scope="col">Company</th>
            <th scope="col">Country</th>
            <th scope="col">City</th>
            <th scope="col">Apply Date</th>
            <th scope="col">Valid To</th>
            <th scope="col">Days valid</th>
            <th scope="col">Link</th>
            <th scope="col">Status</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job_application in object_list %}
            <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class="col-max">{{ job_application.job_name }}</td>
            <td class="col-max">{{ job_application.company }}</td>
            <td class="col-max">{{ job_application.country }}</td>
            <td class="col-max">{{ job_application.city }}</td>
            <td>{{ job_application.apply_date }}</td>
            <td>{{ job_application.valid_to }}</td>
            <td
                {% if job_application.valid_days <= 3 %}
                    class="bg-danger text-white"
                {% elif job_application.valid_days <= 7 %}
                    class="bg-warning text-dark"
                {% else %}
                    class="bg-success text-white"
                {% endif %}
            >{{ job_application.valid_days }}</td>
            <td>
                <a href="{{ job_application.link }}" class="btn btn-outline-primary btn-sm" target="_blank">
                    {{ job_application.portal }}
                </a>
            </td>
            <td>{{ job_application.get_status_display }}</td>
            <td class="text-center align-middle">
                <a href="#" class="btn btn-outline-primary btn-sm">Get details</a> <br>
                <a href="#" class="btn btn-outline-primary btn-sm mt-1">Edit</a>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock main_content %}