{% extends "users/after_login_base.html" %}
{% load static %}

{% block specific_css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'jobs/css/styles.css' %}">
{% endblock specific_css_block %}

{% block main_content %}
<div class="container-lg border border-3 rounded-5 p-4 mx-auto bg-light mt-4 text-truncate" style="min-height: 60vh;">
    <h2 class="d-flex justify-content-center display-2 mb-3">Resume List</h2>
    <div class="container-lg border rounded-5 p-4 bg-white mb-2">
        <table class="table table-sm table-hover small table-fixed p-1" style="display: inline-block;">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Job Title</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Summary</th>
                <th scope="col">File</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
                {% for resume in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><span class="d-inline-block text-truncate text-wrap">{{ resume.job_title }}</span></td>
                        <td><span class="d-inline-block text-truncate">{{ resume.category }}</span></td>
                        <td><span class="d-inline-block text-truncate text-wrap">{{ resume.description }}</span></td>
                        <td><span class="d-inline-block text-truncate text-wrap">{{ resume.summary }}</span></td>
                        <td class="text-center align-middle">
                            <a 
                            href="{{ resume.file.url }}" 
                            download="{{ resume.file_name }}" 
                            class="d-inline-block text-truncate text-wrap"
                            style="max-width: 150px;"
                            name="{{ resume.file_name }}"
                            >
                                <i class="bi bi-file-earmark-pdf fs-3"></i>
                            </a>
                        </td>
                        <td class="text-center align-middle">
                            <a href="#" class="btn btn-outline-primary btn-sm mt-1">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

  <nav aria-label="Page navigation" class="d-flex justify-content-center m-3">
    <ul class="pagination">
      
      {# Previous page button #}
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            &laquo; Previous
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">&laquo; Previous</span>
        </li>
      {% endif %}
      
      {# Page numbers #}
      {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
          <li class="page-item active"><span class="page-link">{{ num }}</span></li>
        {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
      {% endfor %}
      
      {# Next page button #}
      {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            Next &raquo;
          </a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <span class="page-link">Next &raquo;</span>
        </li>
      {% endif %}
      
    </ul>
  </nav>

</div>
{% endblock main_content %}